.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#setTitle, #itemTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    height: 19px;
    margin-left: 0;
    margin-top: 1px;
    padding-left: 8px;
    padding-top: 5px;
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 19px;
    padding-right: 8px;
    padding-top: 5px;
    float: left;
    top: 1px;
    width: 29px;
    margin-left: -6px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
    background-color: transparent;
    cursor: default;
    height: 70px;
    left: 0;
    margin: 10px;
    position: relative;
    top: 440px;
    width: 964px;
}
#setDiv {
    cursor: default;
    height: 30px;
    left: 795px;
    position: absolute;
    top: 5px;
    width: 114px;
    z-index: 0;
}
#id_prev_next_div {
    width: 180px;
    left: 717px;
    position: relative;
    top: 3px;
}
* {
    -moz-box-sizing: inherit;
	-webkit-box-sizing: initial;
	
    box-sizing: content-box;
}
#clickGuard {
    background-color: grey;
    display: none;
    height: 563px;
    left: 0;
    position: absolute;
    top: 0;
    width: 928px;
    z-index: 99;
    min-height: 530px;
    opacity: .1;
}
.activity_description {
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: -19px;
    max-width: 910px;
}
.activity_hd {
    color: grey;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-top: -2px;
}
html body {
    width: 910px;
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    position: absolute;
}
.roundCorners {
    border-radius: 0 0 0 0;
}
.divBtn {
    background-image: url("../../common/img/bg_dropbubble_50.png");
    background-repeat: repeat-x;
    border: thin solid #BDBDBD;
    box-shadow: 1px 1px 4px #BDBDBD;
    float: left;
    font-size: 16px;
    height: 40px;
    margin: 13px 2px 2px 19px;
    width: 180px;
}
#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    height: 482px;
    left: 596px;
    margin-left: 10px;
    max-height: 482px;
    min-height: 253px;
    padding: 12px;
    top: 0;
    width: 237px;
    z-index: 1003;
}
#feedbackHeader {
    min-height: 39px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 0px;
}
#feedbackText {
    margin-top: -4px;
    top: 54px;
    min-height: 156px;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    height: 24px;
    width: 81px;
    right: 10px;
}

.itemImg {
    height: 119px;
    width: 158px;
    background-color: grey;
    margin-left: 6px;
}
#playBtn {
	width: 50px;
}



#main {
    -moz-user-select: none;
	-webkit-user-select: none;
    height: 350px;
    position: relative;
}
#correctBubble {
    background-color: #A0AA5D;
    color: white;
    padding: 8px;
    position: absolute;
    right: 75px;
    top: 2px;
}



#incorrectBubble {
    background-color: #C05C1D;
    color: white;
    padding: 8px;
    position: absolute;
    right: 75px;
    top: 2px;
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
#statusBar {
    top: 607px;
    width: 910px;
    clear: both;
    position: absolute;
    margin-bottom: 50px;
    height: 40px;
    margin-top: 5px;
}



#setLabel {
    -moz-user-select: none;
    bottom: 0;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    left: 6px;
    position: relative;
    right: 0;
    text-align: center;
    top: 6px;
}
#setDiv {
    background-color: transparent;
    left: 601px;
    position: absolute;
    right: 69px;
    width: 110px;
}
#nextDiv {
    position: absolute;
    left: 871px;
    top: 7px;
}
#nextBtnLink {
    position: absolute;
    top: 0;
}
#nextBtn_s1 {
}
#nextBtnClickGuard {
    position: absolute;
}
#prevDiv {
    left: 832px;
    position: absolute;
    top: 7px;
}
#prevBtnLink {
    position: absolute;
    top: 0;
}
#prevBtn_s1 {
}
#prevBtnClickGuard {
    position: absolute;
}



.playBtnLink{
    position: relative;
    margin-left: 23px;
}
#playBtnDiv{
    margin-right: 10px;
    clear: left;
    float: left;
    box-shadow: 0 2px 4px #BDBDBD;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    margin-top: 25px;
    min-height: 277px;
    width: 423px;
}

.btn-group > .btn:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0px;
	margin-right: -9px;
}
.btn-group > .btn:last-child {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #FFFFFF;
	background-image: url("../../common/img/bg_btn.png"); /* ---- point to the root folder/img/ ----- */
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #444444;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}
#img_container{
	width: 580px;
    
    padding: 12px 9px;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 4px #BDBDBD;
    height: 118px;
}
#feedbackButtonImgContainer{
    margin-right: 12px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 102px;
}
#feedbackButtonImgContainer > img{
	margin-top: 5px;
}

#en_words{
	width: 543px;
	position: absolute;
	height: 74px;
	overflow: auto;	
}

#tl_words{
	width: 543px;
	position: absolute;
	height: 74px;
	overflow: auto;	
}

#phrases_container{
    position: relative;
	
}

#phrase_1 {
    margin-left: 78px;
    overflow-y: auto;
    padding-top: 7px;
    clear: both;
    height: 93px;
    width: 523px;
}

#phrase_2 {
    margin-left: 78px;
    overflow-y: auto;
    padding-top: 7px;
    clear: both;
    height: 93px;
    width: 523px;
}

#submitBtn:active{
    background-color: red;
}

#submitBtn:hover{
    background-color: lightgrey;
}

#submitBtn{
    text-align: center;
    left: 295px;
    z-index: 100;
    position: absolute;
    width: 65px;
    cursor: pointer;
    margin: 8px 0px 0px 6px;
    border-radius: 12px;
    background-color: grey;
    clear: both;
    color: white;
    padding: 10px 2px 10px 3px;
}

#words_container ul{
	height: 41px;	
}

#words_container {
    height: 154px;
    width: 592px;
}

#img0{
	float:left;
	margin-left: 79px;
}

#img1{
	float:left;
}

#playBtnDiv_container{
	float:left;	
	width: 96px;
	margin-top: 33px;
}

.phrase2_word{
	line-height: 35px;
	min-width: 75px;
	cursor: pointer;
	background-color: cyan;
	height: 30px;
	margin: 0px 0px 1px 0px;
	padding: 0px 2px 0px 2px;
	display: inline-block;
	border: 1px solid black;
}

.phrase1_word{
	line-height: 35px;
	min-width: 75px;
	cursor: pointer;
	background-color: yellow;
	height: 30px;
	margin: 0px 0px 1px 0px;
	padding: 0px 2px 0px 2px;
	display: inline-block;
	border: 1px solid black;
}	

.phrase1_nonword{
	line-height: 35px;
	cursor: pointer;
	height: 30px;
	margin: 0px 0px 1px 0px;
	padding: 0px 2px 0px 2px;
	display: inline-block;
}

.phrase2_nonword{
	line-height: 35px;
	cursor: pointer;
	height: 30px;
	margin: 0px 0px 1px 0px;
	padding: 0px 2px 0px 2px;
	display: inline-block;
}	

#completeBtn:active{
    background-color: red;
}

#completeBtn:hover{
    background-color: lightgrey;
}

#completeBtn{
	display: none;
    cursor: pointer;
    margin: 2px 0px 0px 6px;
    margin: c;
    border-radius: 12px;
    background-color: grey;
    clear: both;
    color: white;
    padding: 10px 2px 10px 3px;
}


.tl_word {
	cursor: pointer;
	background-color: lightgreen;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	border: 1px solid black;
}

.en_word {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	display: inline-block;
}

#completed_container{
    height: 356px;
    width: 592px;
}

#phrase1Label{
    width: 100px;
	position: absolute;
    top: 39px;
}

#phrase2Label{
    width: 100px;
	position: absolute;
    top: 138px;
}

#ctlALabel{
	
}

#ctlBLabel{
	
}

#ctlALabel_en{
	
}

#ctlBLabel_en{
	
}

#ctlAInput{
	
}

#ctlBInput{
	
}

#ctlAInput_en{
	
}

#ctlBInput_en{
	
}

.cltLabel{
    margin-left: 10px;
	
    clear: both;
    float: left;
    margin-top: 10px;
}

.ctlInput{
    margin-top: 10px;
    margin-left: 119px;
    background-color: lightgray;
	
}

#ctl_words{
    overflow-y: auto;
    height: 272px;
}
