html body {
    background-color: #F5F5F5;
    color: #444444;
    letter-spacing: 2px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#main{
	position:relative;
	border: 0px solid red;
	margin-left: 43px;
}

#videoStage{
    background-color: grey;
    height: 128px;
    width: 198px;
    position: relative;
    left: 87px;
    top: 10px;
}

#playBtnVideo {
    left: 6px;
    top: 71px;
    position: absolute;
    width: 25px;
    display: none;
}

#engSelectable .ui-selecting { background: #FECA40; }
#engSelectable .ui-selected { background: #D8A037; color: white; }
#engSelectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#engSelectable li { margin: 3px; padding: 0.4em; font-size: 12px; height: 18px; border: 0px; cursor: pointer; background: transparent;}

.ui-tabs-panel{
	overflow: auto;
	height: 334px;
}


#engPhraseSelectable .ui-selecting { background: #FECA40; }
#engPhraseSelectable .ui-selected { background: #F39814; color: white; }
#engPhraseSelectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#engPhraseSelectable li { margin: 3px; padding: 0.4em; font-size: 12px; height: 18px; }


#videoTag {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#engTab{
	padding: 0px;
	height: 498px;
	width: 445px;
	overflow: auto;
	float: left;
}

.roundCorners {
	border-radius: 3px;
}
.ui-selected {
	border: solid 1px #989898;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 4px 0px rgba(00, 00, 00, .20), inset 0px 1px 0px 0px rgba(255, 255, 255, .4);
	-webkit-box-shadow:  0px 2px 4px 0px rgba(00, 00, 00, .20), inset 0px 1px 0px 0px rgba(255, 255, 255, .4);
    box-shadow:  0px 2px 4px 0px rgba(00, 00, 00, .20), inset 0px 1px 0px 0px rgba(255, 255, 255, .4);
	padding: 5px;
	background-color: #f6a816;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 7px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 19px;
    margin-left: -7px;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
    width: 39px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-image: none;
<!--	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); -->
	background-color: #FFFFFF;
	background-image: url("../../common/img/bg_btn.png"); /* ---- point to the root folder/img/ ----- */
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #444444;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
	display: none;
   	background-color: transparent;
	position: absolute;
	top: 480px;
    cursor: default;
    height: 40px;
    left: 0px;
    margin: 10px;
    width: 840px;
	border:0px solid blue;
}
#id_setDiv {
    background-color: transparent;
    cursor: default;
    height: 30px;
    top: 5px;
    width: 130px;
	float: left;
	margin-left: 540px;
}
#id_prev_next_div{
	float: left;
}
.btn-group > .btn:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0px;
	margin-right: -9px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.btn-group > .btn + .btn {
	margin-left: -1px;
}

.btn:hover, .btn:active, .btn.active {
	color: #333333;
	background-color: #e6e6e6;
 *background-color: #d9d9d9;
}
.btn_prev:hover, .btn_next:hover{
	background-color: #e6e6e6;
	background-image: url("");
}

.pull-right {
	float: right;
}

#snippets{
	display:none;
}

.itemInfo{
    border: 1px solid lightgray;
	
    width: 313px;
    height: 305px;
    padding: 10px;
    position: relative;
    left: 0px;
    top: 24px;
    margin: 20px;
    margin-bottom: 0px;
}

.itemInfo_English{
    margin-bottom: 20px;
	
    margin-left: 4px;
    clear: both;
}

.itemInfo_Transliteration{
    margin-bottom: 20px;
	
    margin-left: 4px;	
}

.itemInfo_Translation{
    margin-bottom: 20px;
	
    margin-left: 4px;	
}

#rightColumn{
    float: left;
	
    margin-left: 18px;
    height: 524px;
}

#filterBar{
	
    width: 838px;
    height: 109px;
    border-bottom: 1px grey solid;
    margin-bottom: 10px;
}

.filterBtn:hover{
	background-color: rgb(184, 184, 184);
}

.filterBtn{
	cursor: pointer;
	width: 27px;
	height: 30px;
	background-color: #E4E2E2;
	float: left;
	text-align: center;
	border-radius: 2px;
	margin: 1.6px;
	padding-top: 13px;
	color: grey;
	border: 1px solid grey;
}

.toggled{
	background-color: #C99460;
}

.hidden{
	display:none;
}

#filterModuleBar{
	clear:both;
	float:left;
}

#filterTaskBar{
	float:left;
}

#filterModuleBarTitle, #filterTaskBarTitle{
	float:left;
	padding:20px;
	color: #BDBDBD;
}

#glossaryTitle{
    font-family: FuturaBold;
    margin-top: 18px;
    margin-bottom: 13px;
    font-size: 15px;
}

.itemInfo_header{
    margin-top: 7px;
	
    height: 35px;
}

.itemInfo_Item{
    font-family: FuturaBold;
	
    float: left;
}

.itemInfo_Index{
    font-family: FuturaBold;
	
    float: right;
}