.activity_description {
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: -20px;
	width: 890px;
}
.activity_hd {
    color: grey;
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 7px;
    margin-top: 1px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#main{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}

#leftContainer{
	left:0px;
	top:10px;
	width:395px;
	height:360px;
	position: absolute;
}
#firstRow, #secondRow, #thirdRow{
	width: 540px;
	height: 160px;
	border: 0px solid #ccc; 
}
.panal{
	width: 145px;
	height: 110px;
	position:relative;
	margin-right: 10px;
	float: left;
	background-image: url("../../common/img/bg_grip_pattern.png");
    background-repeat: repeat;
    border: thin solid #B8B8B8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF, 0 5px 11px 2px rgba(119, 119, 119, 0.4) inset;
    padding: 10px;;
	
}
.playBtnImg{
	 background-color: transparent;

}
.showResult{
	width: 135px;
	height: 110px;
	position: relative;
	margin: 5px;
	color: #eee;
	font-size: 85px;
	text-align: center;
	font-weight: bold;	
	display: none;
	border-radius: 5px 5px 5px 5px;
}
.showResult img{
	padding: 0px 0px 0px 5px;
}
.showResult div{
	padding: 40px 0px 0px 5px;
}
#rightContainer{
	left:545px;
	position: absolute;
}
#videoContainer0{
    background-color: #999;
    height: 240px;
    left: 4px;
	top: 10px;
	text-align: center;
    position: relative;
    width: 320px;
}
#movieImg{
	padding-top:55px;
}
.displayNone{
	display: none;
}
#VideoCaption{
	width: 323px;
    height: 242px;
}
.css_menu{
	cursor           : pointer;
	background-image: url("../../common/img/bg_grip_pattern.png");
    background-repeat: repeat;
	font-weight      : bold;
}

.css_menu_def{
	display          : none;
}

.css_menu_table{
	border-collapse  : collapse;
	border-bottom: 1px solid #999;
}
.menuTD{
	border-bottom: 1px solid #999;
	width			 : 200px;
}
.menuChoice{
	width: 100%;
	text-align: center;
}
#id_menu_box{
	border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
	top              : -100px;
	left             : 0px;
	position         : absolute;
	margin           : 0px;
	padding          : 0px;
	visibility       : hidden;
	z-index          :102;
}

.itemCompleted {
    background-color: darkGrey;
    border: 3px solid darkGrey;
}
.itemNotCompleted {
    border: 1px solid #E3E3E3;
}
#videoTag {
    height: 242px;
}
#videoTag0 {
    width: 320px;
    height:240px;
    margin: 1px 0px ;
}
#container_setDiv {
    background-color: transparent;
}

#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 540px;
    max-height: 160px;
    min-height: 160px;
    padding: 20px;
    position: absolute;
    top: 260px;
    width: 305px;
	position: absolute;
    z-index: 100;
}
#fb_background{
	-moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 540px;
    max-height: 160px;
    min-height: 160px;
    padding: 20px;
    position: absolute;
    top: 260px;
    width: 305px;
	position: absolute;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
}

#clickGuard {
	display: none;
	opacity: 0.3;
	background-color: lightgray;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 7px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 20px;
    left: 0;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
    width: 29px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
    background-color: transparent;
    cursor: default;
    height: 40px;
    left: 19px;
    margin: 10px;
    top: 460px;
    width: 898px;
}
#setDiv {
    background-color: transparent;
    cursor: default;
    height: 30px;
    left: 752px;
    position: relative;
    top: 5px;
    width: 115px;
    z-index: 0;
}
.roundCorners {
	border-radius: 3px 3px 3px 3px;
}
.pull-right {
	float: right;
}

