#main{
	font-family: Arial, Helvetica, sans-serif;
}
.css_set_div{
	top: 5px;
	left: 30px;
	position: absolute;
	height: 365px;
	width: 790px;
	background-color: #ffffff;
	display: none;
}
.css_q_area{
	height: 180px;
	width: 790px;
	-moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    margin: 0 0 0 0px;

}
.playBtn {
    width: 50px;
}
.playBtnRightDiv{
	position:relative;
	float: right;
	width: 50px;
	right: 10px;
	top: 35px;
}
.playBtnLeftDiv{
	position:relative;
	width: 50px;
	top: 50px;
	left: 10px;
}
.questionText{
	position:relative;
	padding: 10px;
	width: 700px;	
	font-size: 24px;
}
.dropTargetArea{
	box-shadow: -1px 1px 6px grey inset;
	background-color: lightgrey;
	border: 3px solid darkgrey;
	position:relative;
    height: 36px;
    margin: 0px 10px 0px 10px;
	text-align: center;
    width: 225px;
	font-size: 24px;
	padding-top: 2px;
}
.qWord{
	position:relative;
	margin: 5px;
}
.dragBubbleText{
	font-size: 24px;
	text-align: center;
	padding-top: 4px;
	width: 225px;
}

.dragBubble{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    float: left;
    height: 36px;
    margin: 13px 50px 10px 90px;
    width: 225px;
	cursor: pointer;
}
.css_choices_area{
	background-image: url("../../common/img/bg_grip_pattern.png");
    background-repeat: repeat;
    border: thin solid #B8B8B8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF, 0 5px 11px 2px rgba(119, 119, 119, 0.4) inset;
    position: absolute;
    top: 185px;
    padding: 5px 0px, 0px, 5px;
    width: 790px;
    height: 185px;
	text-align: center; 	
}
#id_submitBtn{
	position:absolute;
	width: 27px;
	height: 32px;
	top:4px;
	left: 400px;
	z-index:12;
	display: none;
}

#clickGuard{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: .1;
    background-color: #ffffff;
	display: none;
}


.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 6px;
    padding-top: 7px;
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 32px;
    left: 0;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
	width: 60px;

}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

#container_setDiv {
    background-color: transparent;
    cursor: default;
    height: 40px;
    left: 0;
    margin: 10px;
    position: absolute;	
    top: 380px;
    width: 840px;
}

#setDiv {
    background-color: #F5F5F5;
    cursor: default;
    height: 30px;
    left: 530px;
    position: relative;
    top: 5px;
    width: 115px;
    z-index: 0;
}

#id_prev_next_div {
    left: 620px;
    position: relative;
    top: -23px;
}

#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    float: left;
    left: 23px;

    margin: 4px 0 0 7px;
    max-height: 185px;
    min-height: 185px;
    padding: 20px;
    position: absolute;
    top: 185px;
    width: 790px;
    z-index: 1000;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -13px;
}
#feedbackText {
    margin-top: -3px;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 26px;
}