
#setLabel {
    background-image: url("../../common/img/bg_btn_set.png") !important;
}
#setText {
    bottom: auto;
    font-size: 14px;
    left: auto;
    right: auto;
    top: auto;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#container_setDiv {
    top: 535px;
    width: 889px;
}
#setDiv {
    left: 790px;
	top: 470px;
}
.activity_description {
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 26px;
    margin-top: -19px;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 40px;
}
.activity_hd {
    font-family: inherit;
    font-size: 22px;
    margin-left: 26px;
    margin-top: -2px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
}
.dragBubbleText {
    left: 9px;
    position: relative;
    top: 5px;
}
#videoContainer {
    background-color: grey;
    border-radius: 0 0 0 0;
    height: 243px;
    left: 584px;
    position: absolute;
    top: 57px;
    width: 324px;
}
.displayNone {
    display: none;
}
.itemCompleted {
/*    background-color: darkGrey;*/
    border: 0px solid darkGrey; 
}
.itemNotCompleted {
    border: 1px solid #E3E3E3;
}
#videoTag {
    height: 242px;
}
.playBtn {
    height: 55px;
    left: -55px;
    position: absolute;
	float: left;
    top: -3px;
}
.dropTargetText {
    font-size: 12px;
	color: #000000;
    left: 5px;   
    top: 6px;
}
#dropTargets {
    left: 15px;
    position: absolute;
    top: 51px;
	font-size: 12px;
    width: 300px;
}
#container_setDiv {
    background-color: transparent;
}
.dropTarget {
    border-radius: 0 0 0 0;
    height: 49px;
    margin: 10px 0 35px 0px;
    position: relative;
    width: 295px;
	
}
.dropTargetText2{
  border: 1px solid #E3E3E3;
  position: relative;
  float: left;
  height: 100%;
  width: 235px;
  overflow: auto;
}
.targetDropped {
    border-radius: 0 0 0 0;
	height: 80px;
    margin: 10px 0 0 0px;
    position: absolute;	
    width: 300px;
}
#dragBubbles {
    left: 325px;
    position: absolute;
    top: 57px;
    width: 160px;
}
.dragBubble {
    background-color: #F7F7F7;
    background-image: url("../../common/img/bg_dropbubble_50.png");
    background-repeat: repeat-x;
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px #BDBDBD;
    font-size: 12px;
    height: 52px;
    margin-bottom: 33px;
    padding: 2px;
    width: 234px;
	overflow: auto;
}
.itemDropped {  
 /*   height: 85px;
    margin-bottom: 5px;
    padding: 2px;
    width: 234px;
	overflow: auto;*/
}
.dropTargetAns{
    font-size: 12px;
    color: #666666;
    position: relative;
	padding: 2px;
}
#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 584px;
    max-height: 216px;
    min-height: 216px;
    padding: 20px;
    position: absolute;
    top: 305px;
    width: 326px;
    z-index: 100;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
}

#clickGuard {
	display: none;
	opacity: 0.3;
	background-color: lightgray;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 917px;
	height: 526px;
}
