.activity_description {
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: -20px;
	width: 840px;
}
.activity_hd {
    color: grey;
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 7px;
    margin-top: 1px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
}
body{

}
#main{
      font-family: Arial, Helvetica, sans-serif;
      -moz-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}
#letters{
	top:10px;
	left:130px;
	height:40px;
	position:absolute;
	-moz-user-select: none;
        -webkit-user-select: none;

        -ms-user-select: none;
        user-select: none;
}
.ltrBtn{
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px 10px 10px 10px;
	border: 1px #ccc solid;
	background-color:#eee;
	width: 30px;
	height:30px;
	padding: 5px;
	text-align: center;
	position: relative;
	margin:5px;
	float:left;
	cursor:pointer;
}
.hilite{
	background-color:#000088; /*#C8DFEE;*/
}
#upperContainer{
	top:70px;
	left:130px;
	height:110px;
	width: 580px;
	position:absolute;
	border-bottom: #ccc solid 1px;
}
.audBtn{
	position: relative;
	height: 30px;
	width: 30px;
}
.tlOrigSentence{
	width: 550px;
	height:60px;
	font-size: 22px;
	margin-top: 20px;
}
.enSentence{
	width:520px;
	height:47px;
	font-size:14px;
	-moz-user-select: none;
        -webkit-user-select: none;

        -ms-user-select: none;
        user-select: none;
}
#tlSentence{
	position:absolute;
	top:200px;
	left:140px;
	font-size:40px;
	width:550px;
	line-height: 150%;
	-moz-user-select: none;
	-webkit-user-select: none;

}
.hiddenLetter
  {
  color: #FFFFEE;
  background-color: #FFFFEE;
  text-decoration: none;
  border:#ccc solid 1px;
  cursor:pointer;
  -moz-user-select: none;
 -webkit-user-select: none;

  }
#feedbackshell{
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 132px;
    max-height: 50px;
    min-height: 50px;
    padding: 20px;
    position: absolute;
    top: 420px;
    width: 445px;
}
#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 132px;
    max-height: 50px;
    min-height: 50px;
    padding: 20px;
    position: absolute;
    top: 420px;
    width: 445px;
    z-index: 100;
}

#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
}
.displayNone{
	display: none;
}

.itemCompleted{
	border: 3px solid darkGrey;
	background-color: darkGrey;
}

.itemNotCompleted{
	border: 3px solid lightGrey;
	background-color: lightGrey;
}
#showwrong{
	position:absolute;
	left:180px;
	top:35px;
	z-index:106;
	
}

#clickGuard{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: .1;
    background-color: #ffffff;
	display: none;
}

#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 7px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 20px;
    left: 0;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
    width: 29px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
    background-color: transparent;
    cursor: default;
    height: 40px;
    left: 19px;
    margin: 10px;
    top: 460px;
    width: 860px;
}
#setDiv {
    background-color: transparent;
    cursor: default;
    height: 30px;
    left: 605px;
    position: relative;
    top: 10px;
    width: 115px;
    z-index: 0;
}
.roundCorners {
	border-radius: 3px 3px 3px 3px;
}