
@font-face {
    font-family: 'FuturaMedium';
    src:url('../../../css/futura-medium-webfont.eot');
	src: url('../../../css/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../css/futura-medium-webfont.woff') format('woff'),
         url('../../../css/futura-medium-webfont.ttf') format('truetype'),
         url('../../../css/futura-medium-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaBold';
    src: url('../../../css/futura_bold-webfont.eot');
    src: url('../../../css/futura_bold-webfont.eot?#iefix') format('eot'),
         url('../../../css/futura_bold-webfont.woff') format('woff'),
         url('../../../css/futura_bold-webfont.ttf') format('truetype'),
         url('../../../css/futura_bold-webfont.svg#webfontrIGithyc') format('svg');
    font-weight: normal;
	
    font-style: normal;

}



#enable57Div {
	position:relative;
	left:0px;
	top:0px;
	margin:0px auto 0px auto;
	padding:0px;
	width:880px;
}
#mainContent {
position:relative;
	left:0px;
	top:0px;
	margin:0px;
	padding:0px;
	width:880px;
		background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #cecece;
	box-shadow: 0px 1px 2px #cecece;
    -moz-box-shadow: 0px 1px 2px #cecece;
    -webkit-box-shadow: 0px 1px 2px #cecece;
	 font-family: 'FuturaMedium';

	
}
#setButton {
	position:relative;
	margin:10px 0px 0px 0px;
	padding:0px;
	width:880px;
	display:none;
	
	
}

#schedulePanel{
	position:relative;
	margin:0px 0px 10px 0px;
	padding:0px;
	width:880px;

	 

}
#titleSchedule {
	position:relative;
	padding:0px;
	margin:0px;
	width:880px;
	min-height:52px;
	
}

#engTitleSchedule {
float: left;
width:410px;
padding:0px;
color: #6b6b6b;
font-size: 24px;
font-family: 'FuturaMedium';
margin:15px 0px 10px 20px;
font-weight:bold;
min-height:25px;

}

#targetTitleSchedule{
float: left;
width:410px;
margin:0px;
padding:0px;
color: #6b6b6b;
font-size: 24px;
font-family: 'FuturaMedium';
margin:15px 20px 10px 0px;
font-weight:bold;
min-height:25px;




}
#headerSchedule{
	position:relative;
	margin:0px;
	padding:0px;
	width:880px;
	min-height:36px;

	
}
.airlineItem {
	float: left;
	width:130px;
	margin:0px;
	padding:5px 0px 10px 0px;
	border-right:2px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	text-align:center;
	min-height:30px;
	color: #797979;
font-size: 18px;
font-family: 'FuturaMedium';

}

.flightItem {
	float: left;
	width:95px;
	text-align:center;
	min-height:30px;
	margin:0px;
	padding:5px 0px 10px 0px;
	border-right:2px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	color: #797979;
font-size: 18px;
font-family: 'FuturaMedium';
}

.destinationItem {
	float: left;
	width:256px;
	text-align:center;
	min-height:30px;
	margin:0px;
	padding:5px 0px 10px 0px;
	border-right:2px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	color: #797979;
font-size: 18px;
font-family: 'FuturaMedium';
}

.timeItem {
	float: left;
	
	width:310px;
	text-align:center;
	min-height:30px;
	margin:0px;
	padding:5px 0px 10px 0px;
	border-right:2px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	color: #797979;
font-size: 18px;
font-family: 'FuturaMedium';
}
#timeHeader,#gateHeader, #destinationHeader, #flightHeader, #airlineHeader {
	font-size: 18px;
	font-weight:bold;
	border-top:1px solid #dbdbdb;
}

.gateItem {
	float: left;
	width:86px;
	text-align:center;
	min-height:30px;
	margin:0px;
	padding:5px 0px 10px 0px;
	border-bottom:1px solid #dbdbdb;
	color: #797979;
font-size: 18px;
font-family: 'FuturaMedium';
}

#departureSchedules {
	position:relative;
	left:0px;
	top:0px;
	margin:0px;
	padding:0px;
	width:880px;
	
}
#smallSchedules {
position:relative;
	left:0px;
	top:0px;
	margin:0px;
	padding:0px;
	width:878px;
	display:none;
	
}
#questionFeedbackPanel {
	position:relative;
	margin:0px;
	padding:0px;
	width:880px;
	height:260px;
		display:none;
	
	
}
#questionPanel {
	float: left;
	margin:0px 10px 10px 0px;
	padding:0px;
	width:575px;
	height:260px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #cecece;
	box-shadow: 0px 1px 2px #cecece;
    -moz-box-shadow: 0px 1px 2px #cecece;
    -webkit-box-shadow: 0px 1px 2px #cecece;
	 font-family: 'FuturaMedium';
	
}
#questionDiv {
	margin:10px 0px 10px 20px;
	padding:10px 5px 0px 10px;
	width:575px;
		color: #000000;
font-size: 18px;
font-family: 'FuturaMedium';
}
#answers {
	margin:0px 0px 10px 25px;
	padding:0px;
	width:575px;
}
#feedbackPanel {
	position:relative;
	float: left;
	margin:0px 0px 10px 0px;
	padding:0px;
	width:293px;
	height:260px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #cecece;
	box-shadow: 0px 1px 2px #cecece;
    -moz-box-shadow: 0px 1px 2px #cecece;
    -webkit-box-shadow: 0px 1px 2px #cecece;
	 font-family: 'FuturaMedium';
	
}
#feedbackDiv {
	position:relative;
	width:293px;
	left:0px;
	top:0px;
	
}
#feedbackTop {
	position:relative;
	width:293px;
	left:0px;
	top:0px;
	
}
#feedbackBody {
	position:relative;
	width:278px;
	left:10px;
	top:10px;	
}
#feedbackBottom {
	position:absolute;
	left:230px;
	width:30px;
	height:30px;
	top:205px;
	
}
#titleFeedback {
	margin:10px 0px 0px 10px;
	padding:0px;
		 font-family: 'FuturaMedium';
	font-size: 18px;
	
}
	
#buttonPanel {
	position:relative;
	margin:0px;
	padding:0px;
	width:880px;
	text-align:center;
	height:53px;
	
	
}
.questionBtn {
		margin:0px 0px 0px 0px;
	padding:5px 25px 5px 25px;
}
.tableRow{
	position:relative;
	margin:0px;
	padding:0px;
	width:880px;
}
.audioPlayBtn {
	position:relative;
	float: right;
	margin:0px;
	padding:0px;
	width:35px;
	height:35px;
	margin-right:20px;
}
.audioPlayBtn img{
	position:relative;
	z-index:100;
	margin:0px;
	padding:0px
	width:35px;
	height:35px;
	cursor:pointer;
	
}
.destinationText {
	float: left;
	margin:0px 0px 0px 20px;
	padding:0px;
	width:150px;
}
.timeText {
	float: left;
	margin:0px 0px 0px 20px;
	padding:0px;
	width:210px;	
}
.choiceText {
	position:relative;
	 top: -22px;
	 left:50px;
	 	width:480px;
				color: #000000;
font-size: 18px;
font-family: 'FuturaMedium';
	
}
	label:before {
    display: inline-block;
    height: 44px;
    left: -2px;
	top:10px;
    position: relative;
    width: 44px;
	
}
	label{
    position: relative;
    width: 44px;
	height: 54px;
}
