.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#main{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 6px;
    padding-top: 7px;
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 20px;
    left: 0;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
    width: 29px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
    background-color: #F5F5F5;
    cursor: default;
    height: 40px;
    left: 8px;
    margin: 10px;
    position: absolute;
    top: 430px;
    width: 880px;
}
#setDiv {
    background-color: #F5F5F5;
    cursor: default;
    height: 30px;
    left: 755px;
    position: relative;
    top: 5px;
    width: 115px;
    z-index: 0;
}
#clickGuard {
    background-color: lightgray;
    display: none;
    height: 526px;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 1000px;
}
.activity_description {
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 26px;
    margin-top: -19px;
}
.activity_hd {
    color: grey;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 26px;
    margin-top: -2px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
}
#leftCol {
    background-image: url("../../common/img/bg_grip_pattern.png");
    background-repeat: repeat;
    border: thin solid #B8B8B8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF, 0 5px 11px 2px rgba(119, 119, 119, 0.4) inset;
    float: left;
    height: 405px;
    left: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
    width: 235px;
}
.roundCorners {
    border-radius: 3px 3px 3px 3px;
}
.divBtn {
    background-image: url("../../common/img/bg_dropbubble_50.png");
    background-repeat: repeat-x;
    border: thin solid #BDBDBD;
    box-shadow: 0 2px 2px #BDBDBD;
    float: left;
    font-size: 16px;
    height: 46px;
    margin: 13px 2px 2px 19px;
    width: 193px;
}
#rightCol {
    background-image: url("../../common/img/bg_grip_pattern.png");
    background-repeat: repeat;
    border: thin solid #B8B8B8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF, 0 5px 11px 2px rgba(119, 119, 119, 0.4) inset;
    float: left;
    height: 405px;
    left: 285px;
    padding: 5px;
    position: absolute;
    top: 5px;
    width: 235px;
}
#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 555px;
    max-height: 120px;
    min-height: 120px;
    padding: 20px;
    position: absolute;
    top: 260px;
    width: 280px;
    z-index: 100;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -13px;
}
#feedbackText {
    margin-top: -13px;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#VideoCaption {
    height: 240px;
/*    margin-left: 180px; */
    width: 320px;
}
.leftColBtn {
    cursor: default;
    height: 22px;
    margin-left: 10px;
    padding-top: 3px;
    width: 170px;
}
.hoverStyle {
    border: 2px solid #E89904;
}
.noHoverStyle {
    border: 2px solid white;
}
.divBtnSelected {
/*    background-color: #FEBF4B;    */
    background-image: url("../../common/img/bg_dropbubble_50.png");
    background-repeat: repeat-x;
    border: 2px solid #E89904;
    box-shadow: 0 2px 2px #BDBDBD;
    float: left;
    font-size: 16px;
    height: 46px;
    margin: 13px 2px 2px 19px;
    width: 193px;
}

.divBtnDone {
    background-color: #EEEEEE;
    color: #cccccc;
    border: thin solid #BDBDBD;
    float: left;
    font-size: 16px;
    height: 46px;
    margin: 13px 2px 2px 19px;
    width: 193px;
}
.rightColBtn {
    cursor: default;
    height: 22px;
    margin-left: 10px;
    padding-top: 3px;
    width: 170px;
}
video {
    height: 240px;
    width: 320px;
}
.clickGuard_btn {
    background-color: #000000;
    height: 34px;
    opacity: 0.2;
    position: absolute;
    width: 193px;
    z-index: 10;
}
#buttonContainer {
    height: 195px;
    margin-left: 100px;
    margin-top: -15px;
}
#videoContainer {
    height: 241px;
    left: 555px;
    position: absolute;
    top: 5px;
    width: 320px;
    background-color: #999;
}
#rightClickGuard {
    background-color: #000000;
    display: none;
    height: 250px;
    opacity: 0.2;
    position: absolute;
    width: 200px;
    z-index: 10;
}
